* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@mixin responsive-desktop {

    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin responsive-tablet {

    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin responsive-mobile {

    @media screen and (max-width: 600px) {
        @content;
    }
}

@mixin responsive-300{

    @media screen and (max-width: 374px) {
        @content;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(circle, rgba(19,16,115,1) 0%, rgba(16,23,64,1) 50%);
    font-family: "Baloo 2", sans-serif;
}

// Cartão
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    section.card {
        width: 45rem;
        height: 55rem;
        border-radius: 10px;
        background-color: #D9C484;
        text-align: center;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    
        box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);
        -webkit-box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);
        -moz-box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);

        @include responsive-tablet {
            width: 35rem;
        }

        @include responsive-mobile {
            width: 20rem;
            height: 39rem;

            padding: 1rem;
        }

        @include responsive-300 {
            width: 18rem;
            height: 30rem;

            padding: 0.3rem;
        }

        .profile {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            border: 5px solid #EFFFFF;
            margin-top: 1rem;

            box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);
            -webkit-box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);
            -moz-box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);

            @include responsive-mobile {
                width: 10rem;
                height: 10rem;
            }

            @include responsive-300 {
                width: 8rem;
                height: 8rem;
            }

        }

        
        h2 {
            font-size: 2.5rem;

            @include responsive-300 {
                font-size: 1.5rem;
            }
        }

        .github, .spotify, .twitter, .lastfm {
            display: flex;
            flex-direction: row;

            justify-content: center;
            align-items: center;

            width: 40rem;
            height: 4rem;
            border-radius: 5px;
            margin: 0.3rem 0;

            background-color: #101740;
            color: #f5f5f5;

            text-decoration: none;

            transition: .5s ease;

            box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);
            -webkit-box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);
            -moz-box-shadow: 2px 2px 6px 0px rgba(77,77,77,0.5);

            @include responsive-tablet {
                width: 30rem;
            }

            @include responsive-mobile {
                width: 18rem;
            }

            @include responsive-300 {
                margin: 0.1rem 0;
                width: 16rem;
            }

            &:hover {
                background-color: #807EBF;
                color: #282828;

                box-shadow: 0px 0px 0px 0px transparent;
                -webkit-box-shadow: 0px 0px 0px 0px transparent;
                -moz-box-shadow: 0px 0px 0px 0px transparent;
            }

            img {
                margin-right: 10px;

                @include responsive-300 {
                    display: none;
                }
            }
        }

        .playlists {
            width: 40rem;
            height: 12rem;

            margin-top: 1rem;

            background-color: #282828;
            border-radius: 10px;

            background-image: url(../imagens/playlists.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            color: #f5f5f5;
            font-size: xx-large;

            transition: .4s ease-in-out;

            @include responsive-tablet {
                width: 30rem;
            }

            @include responsive-mobile {
                width: 18rem;
                height: 8rem;

                background-image: url(../imagens/sabrina-carpenter-espresso.gif);
                color: #28282896;
            }

            @include responsive-300 {
                width: 16rem;
                height: 6rem;
                margin-top: 0.2rem;
            }

            &:hover {
                background-image: url(../imagens/sabrina-carpenter-espresso.gif);

                color: #28282896;
            }
        }

        

    }
}

