* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F5F5F5;
  font-family: "Baloo 2", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main section.card {
  width: 40rem;
  height: 55rem;
  border-radius: 10px;
  background-color: #E6E6E6;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
  -moz-box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
}
@media screen and (max-width: 1400px) {
  main section.card {
    width: 35rem;
    height: 45rem;
  }
}
@media screen and (max-width: 1100px) {
  main section.card {
    width: 25rem;
    height: 35rem;
  }
}
@media screen and (max-width: 800px) {
  main section.card {
    width: 35rem;
  }
}
@media screen and (max-width: 600px) {
  main section.card {
    width: 20rem;
    height: 39rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 374px) {
  main section.card {
    width: 18rem;
    height: 30rem;
    padding: 0.3rem;
  }
}
main section.card .profile {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 5px solid #000000;
  margin-top: 1rem;
  box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
  -moz-box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
}
@media screen and (max-width: 1400px) {
  main section.card .profile {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (max-width: 1100px) {
  main section.card .profile {
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 600px) {
  main section.card .profile {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (max-width: 374px) {
  main section.card .profile {
    width: 8rem;
    height: 8rem;
  }
}
main section.card h2 {
  font-size: 2.5rem;
  color: #161616;
}
@media screen and (max-width: 1100px) {
  main section.card h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 374px) {
  main section.card h2 {
    font-size: 1.5rem;
  }
}
main section.card .github,
main section.card .spotify,
main section.card .twitter,
main section.card .lastfm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 4rem;
  border-radius: 5px;
  margin: 0.3rem 0;
  background-color: #000;
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.5s ease;
  box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
  -moz-box-shadow: 2px 2px 6px 0px rgba(77, 77, 77, 0.5);
}
@media screen and (max-width: 800px) {
  main section.card .github,
  main section.card .spotify,
  main section.card .twitter,
  main section.card .lastfm {
    width: 30rem;
  }
}
@media screen and (max-width: 1100px) {
  main section.card .github,
  main section.card .spotify,
  main section.card .twitter,
  main section.card .lastfm {
    width: 20rem;
    height: 3rem;
  }
}
@media screen and (max-width: 600px) {
  main section.card .github,
  main section.card .spotify,
  main section.card .twitter,
  main section.card .lastfm {
    width: 18rem;
  }
}
@media screen and (max-width: 374px) {
  main section.card .github,
  main section.card .spotify,
  main section.card .twitter,
  main section.card .lastfm {
    margin: 0.1rem 0;
    width: 16rem;
  }
}
main section.card .github:hover,
main section.card .spotify:hover,
main section.card .twitter:hover,
main section.card .lastfm:hover {
  background-color: #ffffff;
  color: #161616;
  box-shadow: 0px 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px 0px transparent;
}
main section.card .github img,
main section.card .spotify img,
main section.card .twitter img,
main section.card .lastfm img {
  margin-right: 10px;
}
@media screen and (max-width: 374px) {
  main section.card .github img,
  main section.card .spotify img,
  main section.card .twitter img,
  main section.card .lastfm img {
    display: none;
  }
}
main section.card .github img,
main section.card .spotify img,
main section.card .lastfm img {
  width: 33px;
  height: 33px;
}
main section.card .twitter img {
  width: 33px;
  height: 30px;
}
main section.card .playlists {
  width: 30rem;
  height: 12rem;
  margin-top: 1rem;
  background-color: #282828;
  border-radius: 10px;
  background-image: url(../imagens/fastimespause.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: xx-large;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 1400px) {
  main section.card .playlists {
    width: 30rem;
    height: 9rem;
  }
}
@media screen and (max-width: 1100px) {
  main section.card .playlists {
    width: 20rem;
    height: 6rem;
  }
}
@media screen and (max-width: 800px) {
  main section.card .playlists {
    width: 30rem;
  }
}
@media screen and (max-width: 600px) {
  main section.card .playlists {
    width: 18rem;
    height: 8rem;
    background-image: url(../imagens/fastimes.gif);
    color: rgba(73, 73, 73, 0.7176470588);
  }
}
@media screen and (max-width: 374px) {
  main section.card .playlists {
    width: 16rem;
    height: 6rem;
    margin-top: 0.2rem;
  }
}
main section.card .playlists:hover {
  background-image: url(../imagens/fastimes.gif);
  color: rgba(40, 40, 40, 0.5882352941);
}/*# sourceMappingURL=style.css.map */